target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/
node_modules/
nodejs/
**/cache*
gwentWikia2JSON/cards.js
gwentWikia2JSON/infobox.json
gwentWikia2JSON/stats.txt
**/remoteAssets/*