    @import "../common";
    /* ********* */

    @media (min-width: @screen-sm) {
        .editPanel {
            width: 302px;
            float: left;
        }
        .resultPanel {
            margin-left: 312px;
            left: 0px;
            right: 0px;
        }
    }

    .removeUnitBtn {
        float: right;
        background-color: #eeeeee;
        border-color: #cccccc;
    }

    .editInputs {
        margin-right: 44px;
        margin-left: 0px;
    }

    .editInput {
        padding-left: 2px;
        padding-right: 2px;
    }