    @import "../common";
    /* ********* */

    @media (min-width: @screen-sm) {
        .editPanel {
            width: 302px;
            float: left;
        }
        .resultPanel {
            margin-left: 312px;
            left: 0px;
            right: 0px;
        }
    }

    .removeUnitBtn {
        // float: left;
        display: table-cell;
        background-color: #eeeeee;
        border-color: #cccccc;
    }

    .editInputs {
        display: table-cell;
    }

    .editInput {
        padding-left: 2px;
        padding-right: 2px; // float: left;
        display: table-cell;
    }

    .unitEditor {
        display: table-row;
    }