@font-face {
    font-family: 'GwentFont';
    src: url('https://www.playgwent.com/fonts/hinted-GWENT-ExtraBold.ttf');
}

.cardPreview {
    width: 430px;
    background-color: rgb(0, 0, 0);
    height: 160px;
    padding-top: 9px;
    padding-left: 10px;
    position: relative;
    display: table;
    z-index: 10;
}

.cardTextBox {
    width: 290px;
    top: 4px;
    right: 5px;
    position: absolute;
}

.cardNamePreview {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'GwentFont';
}

.cardTagsPreview {
    color: rgb(218, 218, 218);
    font-size: 14px;
    text-align: center;
    font-family: 'GwentFont';
}

.cardTextPreview {
    margin-top: 8px;
    margin-left: 5px;
    color: white;
    font-size: 2.5vmin;
    text-align: left;
    /* font-family: 'GwentFont'; */
}