/* https: //stackoverflow.com/a/46099319 */

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    grid-gap: 4rem;
    justify-content: space-between;
    /* boring properties */
    list-style: none;
    padding: 2rem;
    margin: 0 auto;
}