@font-face {
    font-family: 'GwentFont';
    src: url('https://www.playgwent.com/fonts/hinted-GWENT-ExtraBold.ttf');
}

@CardOpenAnimDuration: .6s;
.cardMedium {
    &_container {
        height: 255px;
        width: 185px;
        position: relative;
        margin-left: 12px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    /* ******************** */
    /* ******************** */
    /* TEXT BOX */
    /* ******************** */
    /* ******************** */
    &_container .textBoxWrapper {
        position: absolute;
        top: 11px;
        bottom: 12px;
        left: 11px;
        right: 11px;
        overflow: hidden;
    }
    &_container .textBox {
        position: absolute;
        width: 100%;
        height: 232px;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all @CardOpenAnimDuration;
        padding-left: 8px;
        transform: translateY(165px);
    }
    &_container .textBox_open {
        transform: translateY(0px);
    }
    &_container .textBox .name {
        text-align: center;
        color: white;
        font-family: "GwentFont";
        font-size: 17px;
        height: 45px;
        line-height: 48px;
    }
    &_container .textBox .name span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    &_container .textBox .tags {
        text-align: center;
        color: rgb(218, 218, 218);
        font-family: sans-serif;
        font-size: 12px;
    }
    &_container .textBox .separator {
        border-top-style: groove;
        border-top-width: 1px;
        border-top-color: white;
        margin-left: -6px;
        transition: width @CardOpenAnimDuration, margin-left @CardOpenAnimDuration ease;
        width: 0%;
        margin-left: 75px;
    }
    &_container .textBox_open .separator {
        width: 80%;
        margin-left: 13px;
    }
    &_container .textBox .text {
        position: absolute;
        top: 80px;
        text-align: left;
        color: white;
        font-size: 10px;
        padding: 0px 5px;
    }
    /* ******************** */
    /* ******************** */
    /* CARD BOX */
    /* ******************** */
    /* ******************** */
    &_container .fullSize {
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        position: absolute;
    }
    &_container .gem {
        background-size: 100% 100%;
        width: 9px;
        height: 9px;
        position: absolute;
        right: 8px;
        bottom: 10px;
    }
    &_container .banner {
        position: absolute;
        background-size: 100% 100%;
        width: 100px;
        height: 220px;
        left: -45px;
        top: -30px;
    }
    &_container .art {
        top: 11px;
        bottom: 14px;
        position: absolute;
        width: 100%;
        background-size: cover;
    }
    /* ******************** */
    /* ******************** */
    /* UNIT BOX */
    /* ******************** */
    /* ******************** */
    &_container .unitBox {
        position: absolute;
        width: 30px;
        font-family: 'GwentFont';
        font-size: 40px;
        color: white;
        text-align: center;
        top: -14px;
        left: -10px;
    }
    &_container .unitBox .armor {
        position: absolute;
        top: 55px;
        width: 40px;
        text-align: center;
        left: -5px;
        font-size: 30px;
    }
    &_container .unitBox .armorBackground {
        -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
        background-color: black;
        opacity: .85;
        position: absolute;
        height: 40px;
        width: 40px;
        top: 55px;
        left: -5px;
    }
}

.textBorder {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}